*{
    padding: 0;   
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto';
    background-image: url("./img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}
/* global css start */
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    transform: translate(-50%,-50%);
}
li{
    list-style: none;
}
/* global css end  */
.tit{
    position: fixed;
    top: -10%;
    color: #BD9057;
    font-weight: 700;
    transition: .5s ease ;
}
.all__wrapper{
    text-align: center;
}
.all__title{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    transition: .2s ease;
}
.wrapper{
    display: flex;
    align-items: center;
    width: 750px;
    height: 360px;
    border: none;
    background-color: #fff;
    padding: 15px;
    text-align: left;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .2s ease;
}
.wrapper .links{
    width: 50%;
}
.fa-solid.fa-arrow-right{
    display: none;
}
.wrapper .links li{
    padding: 12px 8px;  
    height: 100%;
    cursor: pointer;
    transition: .3s ease ;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 700;
    font-size: 18px;
}
.wrapper .links li:hover .fa-solid.fa-arrow-right{
    display: block;
}
.wrapper .links li:hover{
    transition: .3s ease;
    background-color: #fff;
}

.wrapper .links li:hover .d__img{
    background-color: #fff;
}
.wrapper .wrapper__img{
    width: 50%;
}
.wrapper .wrapper__img .d__img{
    width: 100%;    
    height: 250px;
    object-fit: contain;
    border-radius: 20px;
}
.img__text,
.img__title{
    text-align: center;
    background-color: #fff;
    width: 280px;
    margin: 0 auto;
    margin-top: -5px;
    line-height: 26px;
}
.img__title{
    font-size: 16px;
    font-weight: 700;
    padding: 0 5px;
}
.img__text{
    padding: 0 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 500;
}